aside.sidebar
	nav.nav
		a(href="dashboard.html" class="nav__item" id="page-dashboard")
			img(src="admin/assets/img/dashboard.svg" alt=""
			 class="nav__icon")
			span.nav__text Дашборд
		a(href="settings.html" class="nav__item" id="page-settings")
			img(src="admin/assets/img/settings.svg" alt=""
			 class="nav__icon")
			span.nav__text Настройки
		a(href="pages.html" class="nav__item" id="page-pages")
			img(src="admin/assets/img/pages.svg" alt=""
			 class="nav__icon")
			span.nav__text Страницы
		a(href="cat.html" class="nav__item" id="page-cat")
			img(src="admin/assets/img/category.svg" alt=""
			 class="nav__icon")
			span.nav__text Разделы
		a(href="posts.html" class="nav__item" id="page-posts")
			img(src="admin/assets/img/posts.svg" alt=""
			 class="nav__icon")
			span.nav__text Публикации
		a(href="menus.html" class="nav__item" id="page-menus")
			img(src="admin/assets/img/menu.svg" alt=""
			 class="nav__icon")
			span.nav__text Меню
		a(href="themes.html" class="nav__item" id="page-themes")
			img(src="admin/assets/img/theme.svg" alt=""
			 class="nav__icon")
			span.nav__text Темы
		a(href="/" class="nav__item" id="page-back")
			img(src="admin/assets/img/back.svg" alt=""
			 class="nav__icon")